.articles-wrapper{
    background:#EFF2F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 40px;

    .article-wrapper{
        display: flex;
        background:white;
        margin-bottom: 20px;
        width:100%;
        padding: 15px;
        justify-content: center;
        align-items: center;
        max-height:200px;
    
        .article-brief{
            display: flex;
            width:100%;
            flex-wrap: wrap;
            div{
                padding-left:15px;
            }

            .img-wrapper{
                flex:15%;
                overflow: hidden;
                
                img{
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }

            .brief-content-wrapper{
                color:#474A53;
                flex:70%;
                display:flex;
                flex-direction: column;
                .title{
                    flex:1;
                    font-size:22px;
                } 
                .brief{
                    flex:4;
                    font-size: 16px;
                }
                .tags{
                    display:flex;
                    flex:1;
                    font-size: 18px;
                    font-weight: bold;
                    color:black;
                }
            }

            .additional-data-wrapper{
                flex:15%;
            }
        }
    }
}