.btm-credit-wrapper{
    width:100%;
    background:linear-gradient(transparent, black 67%);
    color:white;
    display:flex;
    margin-top:-80px;
    padding:40px;
    min-height: 80px;
    font-size:20px;
    @media screen and (max-width:720px){
        padding:20px;
    } 
    .btm-credit-inner{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        .links{
            display: flex;
            flex:50%;
            justify-content: flex-end;
            align-items: center;
            @media screen and (max-width:720px){
                justify-content: center;
                flex:100%;
                margin-bottom:20px;
            } 
            .link{
                margin-left:40px;
                @media screen and (max-width:720px){
                    margin-left:20px;
                    margin-right:20px;
                } 
            }
        }
        .credit{
            display: flex;
            flex:50%;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width:720px){
                justify-content: center;
                flex:100%;
            }
        }
    }
}