 .btm-menu-wrapper{
     width:100%;
     background:url(./../images/chemtrails.jpg);
     background-size: cover;
     background-repeat: no-repeat;

     .darken{
         width:100%;
         background: rgba(0,0,0,0.7);
         padding: 20px 40px;

        .btm-plugins{
            display:flex;
            width:100%;
            height:200px;
            border:1px solid white;
            justify-content: center;
            align-items: center;
            color:white;
        }

     }
 }