.btm-credit-wrapper{
    width:100%;
    background:linear-gradient(transparent, black 67%);
    color:white;
    display:flex;
    margin-top:-80px;
    padding:40px;
    min-height: 80px;
    font-size:20px;
    .btm-credit-inner{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        .links{
            display: flex;
            flex:50%;
            justify-content: flex-end;
            align-items: center;
            .link{
                margin-left:40px;
            }
        }
        .credit{
            display: flex;
            flex:50%;
            justify-content: flex-start;
            align-items: center;
        }
    }
}