 .headline-wrapper{
     width:100%;
     padding-top:25%;
     overflow: hidden;
     position: relative;
     video{
        position: absolute;
        z-index: -999;
        height: 100%;
        width:100%;
        object-fit: cover;
        top:0;
        left:0;
      }

      .darken{
          position: absolute;
          top:0;
          left:0;
          z-index:99;
          background:rgba(0,0,0,0.4);
          width:100%;
          height:100%;
          display: flex;
          flex-direction:column;
          justify-content: center;
          align-items: center;
          line-height: 1.2;

          .big-phrase{
            color:white;
            font-size:60px;
            font-weight:900;
          }

          .little-phrase{
            color:white;
            font-size:25px;
            font-weight:900;
          }
      }
 }