/*Dependecies and partials*/
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import "main.css";
@import "header.css";
@import "recommended.css";
@import "articles.css";
@import "btm-menu.css";
@import "btm-credit.css";

/*Pages*/
@import "home.css";