*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
}

body{
    font-family: 'Heebo', sans-serif !important;
}

.container{
    width:80%;
    @media screen and (max-width:2000px){
        width:95%;
    }
    @media screen and (max-width:720px){
        width:100%;
    }
}