*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
}

body{
    font-family: 'Heebo', sans-serif !important;
}

.container{
    width:80%;
    @media screen and (max-width:2000px){
        width:95%;
    }
    @media screen and (max-width:720px){
        width:100%;
    }
}
.loader-container{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #B8E986;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  

  .hidden{
    opacity: 0;
    visibility: hidden;
    height: 0;
  }