.post-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    margin-bottom:80px;
}

.post-wrapper .content-wrapper{
    display:flex;
    flex-wrap: wrap;
}
.post-wrapper .content-wrapper .left-side{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.post-wrapper .content-wrapper .left-side img{
    width:80%;
}

.post-wrapper .content-wrapper .right-side{
    width:50%;
    display:flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.post-wrapper .content-wrapper .right-side h3{
    margin-bottom:15px;
    color:grey;
}

@media screen and (max-width:1200px){
    .post-wrapper .content-wrapper .left-side , .post-wrapper .content-wrapper .right-side{
        width:100%;
        margin-top:20px;
    }
    .post-wrapper{
       padding-left:40px;
       padding-right:40px;
    }
}

@media screen and (max-width:720px){
    .post-wrapper .content-wrapper .left-side img{
        width:90%;
    }
    .post-wrapper{
        padding-left:30px;
        padding-right:30px;
     }
}