.reco-wrapper {
  width: 100%;
  height: auto;
  background: #1B1D23;
  padding: 20px 40px;
  color: white;
}

@media screen and (max-width: 720px) {
  .reco-wrapper {
    padding: 10px 20px;
  }
}

.reco-wrapper .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720px) {
  .reco-wrapper .filter {
    display: none;
  }
}

.reco-wrapper .filter .filter-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reco-wrapper .filter .filter-title h3 {
  display: inline-block;
  font-weight: 100;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.reco-wrapper .filter .filter-title h3:after {
  content: '';
  position: absolute;
  width: 50px;
  border-bottom: 1px solid white;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}

.reco-wrapper .filter .filter-title h3:hover {
  opacity: 0.7;
}

.reco-wrapper .reco-title {
  margin-top: 30px;
}

.reco-wrapper .reco-title h3 {
  font-size: 30px;
  font-weight: 100;
}

.reco-wrapper .reco-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-wrap: wrap;
}

.reco-wrapper .reco-grid .sqr-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .reco-wrapper .reco-grid .sqr-post {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 720px) {
  .reco-wrapper .reco-grid .sqr-post {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.reco-wrapper .reco-grid .sqr-post .post-review {
  overflow: hidden;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  width: 100%;
  height: 250px;
  margin: 15px 0px 0px 15px;
  cursor: pointer;
}

.reco-wrapper .reco-grid .sqr-post .post-review img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.reco-wrapper .reco-grid .sqr-post .post-review img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 720px) {
  .reco-wrapper .reco-grid .sqr-post .post-review {
    margin: 0;
    margin-bottom: 10px;
  }
}

.reco-wrapper .reco-grid .sqr-post .post-review .content {
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(transparent, black);
  background-position: 0;
}

.reco-wrapper .reco-grid .sqr-post .post-review .content .icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
}

.reco-wrapper .reco-grid .sqr-post .post-review .content .date {
  position: absolute;
  left: 20px;
  top: 20px;
}

.reco-wrapper .reco-grid .sqr-post .post-review .content .title {
  position: absolute;
  right: 20px;
  top: 50px;
}

.reco-wrapper .reco-grid .sqr-post .post-review:hover {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/*# sourceMappingURL=recommended.css.map */