 .reco-wrapper{
     width:100%;
     height:auto;
     background:#1B1D23;
     padding:20px 40px;
     color:white;
     @media screen and (max-width:720px){
        padding: 10px 20px;
    }
     .filter{
         display:flex;
         @media screen and (max-width:720px){
             display:none;
         }
        .filter-title{
            display:flex;
            flex:1;
            justify-content: center;
            align-items: center;
            h3{
                display:inline-block;
                font-weight: 100;
                font-size:22px;
                cursor: pointer;
                position: relative;
                transition:all .2s;
            }
            h3:after{
                content:'';
                position: absolute;
                width:50px;
                border-bottom:1px solid white;
                bottom:-10px;
                left:0;
                right: 0;
                margin: auto;
                
            }
            h3:hover{
                opacity:0.7;
            }
        }
     }

     .reco-title{
         margin-top:30px;
         h3{

             font-size:30px;
             font-weight:100;
         }
     }

     .reco-grid{
         display:flex;
         width:100%;
         flex-wrap:wrap;
         -webkit-wrap:wrap;
         .sqr-post{
             display:flex;
             flex:33.3%;
             @media screen and (max-width:1200px){
                flex:50%;
             }
             @media screen and (max-width:720px){
                flex:100%;
             }
             justify-content: center;
             align-items: center;
             .post-review{
                overflow: hidden;
                filter: grayscale(0%);
                transition: all .5s;
                img{
                    position: absolute;
                    top:0;
                    left:0;
                    object-fit: cover;
                    width:100%;
                    height:100%;
                    transition: transform .5s;
                }
                img:hover{
                    transform: scale(1.1);
                }

                position: relative;
                width:100%;
                height:240px;
                margin: 15px 0px 0px 15px;
                @media screen and (max-width:720px){
                    margin:0;
                    margin-bottom:10px;
                }
                cursor: pointer;
                .content{
                    font-size:20px;
                    position: absolute;
                    width:100%;
                    height:100%;
                    background:linear-gradient(transparent , black );
                    background-position:0;  
                    .icon{
                        position: absolute;
                        right:20px;
                        top:20px;
                        font-size: 24px;
                    }   
                    .date{
                        position: absolute;
                        left:20px;
                        top:20px;
                    }
                    .title{
                        position: absolute;
                        right:20px;
                        top:50px;
                    }
                }
             }

             .post-review:hover{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
             }

         }
     }
 }